body {
	background-color: red;
}

#container {
	background-color: red;
	display: flex;
	padding: 5vw;
}

.box {
	border: 1px solid black;
}

/* Left side CSS */
#left-side {
	flex: 0 0 50%;
}

#banner {
	background-color: red;
	border-bottom: 1px solid black;
	height: 7vw;
}

#img-display {
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5vw;
	height: 30vw;
	padding: 2vw;
}

#p-info {
	display: flex;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1vw;
	height: 20vw;
}

#p-info img {
	flex: 0 0;
}

/* Right side CSS */
#right-side {
	flex: 0 0 50%;
	padding-bottom: 5vw;
}

#pokemon-list {
	display: flex;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	margin: 10vw 5vw 5vw 5vw;
	height: 15vw;
	text-align: center;
	align-items: center;
	justify-content: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
	width: 50%;
	margin: 0;
}

#button-container {
	background-color: red;
	text-align: center;
}

button {
	font-size: 1.3vw;
	flex-shrink: 1;
	padding: 0.5em;
	margin: 0.5em;
	width: 15vw;
}

